In [1]:
for i in range(1,20):
    print('i is now {}',format(i))

i is now {} 1
i is now {} 2
i is now {} 3
i is now {} 4
i is now {} 5
i is now {} 6
i is now {} 7
i is now {} 8
i is now {} 9
i is now {} 10
i is now {} 11
i is now {} 12
i is now {} 13
i is now {} 14
i is now {} 15
i is now {} 16
i is now {} 17
i is now {} 18
i is now {} 19

In [6]:
for i in range(0,20,2):
    print('i is now',format(i))

i is now 0
i is now 2
i is now 4
i is now 6
i is now 8
i is now 10
i is now 12
i is now 14
i is now 16
i is now 18

In [8]:
 for i in range(20,1,-2):
        print('i is now',format(i))

i is now 20
i is now 18
i is now 16
i is now 14
i is now 12
i is now 10
i is now 8
i is now 6
i is now 4
i is now 2

In [9]:
number = '9,223,036,775,007'

for i in range(0,len(number)):
    print(number[i])

9
,
2
2
3
,
0
3
6
,
7
7
5
,
0
0
7

In [10]:
number = '9,223,775,889'

for i in range(0,len(number)):
    if number[i] in '0123456789':
        print(number[i],end='')

9223775889

In [11]:
number = '9,223,775,889'
cleannumber =''

for i in range(0,len(number)):
    if number[i] in '0123456789':
        cleannumber = cleannumber + number[i]
        
newnumber = int(cleannumber)
print(type(newnumber))
print("the number is {}".format(newnumber))

<class 'int'>
the number is 9223775889