In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics impot confusion_matrix

ModuleNotFoundError: No module named 'sklearn.cross_validation'

In [2]:
data = pd.read_csv('Ads.csv')
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [3]:
real_x = data.iloc[:,[2,3]].values
real_y = data.iloc[:,4].values

In [6]:
training_x,test_x,training_y,test_y = train_test_split(real_x,real_y, test_size 0.25, random_state=0)
training_x

SyntaxError: invalid syntax (<ipython-input-6-15321a973acc>, line 1)

In [ ]:
scaler = StandardScaler()
training_x = scaler.fit_transform(training_x)
test_x = scaler.fit_transform(test_x)

In [ ]:
classifer_LR = LogisticRegression(random_state=0)
classifer_LR.fit(training_x,training_y)

In [ ]:
y_pred = classifer_LR.predict(test_x)
y_pred

In [ ]:
test_y

In [ ]:
c_m = confusion_matrix(test_y,y_pred)
c_m

In [10]:
from matplotlib.colors import ListedColormap
x_set, y_set = training_x, training_y
x1, x2 =np.meshgrid(np.arange(start = x_set[:,0].min() - 1,stop = x_set[:,0].max() + 1, step = 0.01)
                    np.arange(start = x_set[:,0].min() - 1,stop = x_set[:,1].max() + 1, step = 0.01)
plt.contourf(x1, x2, classifer_LR.predict(np.array([x1.ravel(),x2.ravel()]).T).reshape(x1.shape),
            alpha =0.75, cmap= ListedColormap(('red','green')))
plt.xlim(x1.min(),x1.max())
plt.ylim(x2.min(),x2.max())
for i,j in enumerate(np.unique(y_set)):
                    plt.scatter(x_set[y_set == j,0], x_set[y_set == j,1],
                               c = ListedColormap(('red','green'))(i), label = j)
plt.title('Logistic Regression (Training set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

SyntaxError: invalid syntax (<ipython-input-10-403bcb7eb2e8>, line 4)

In [ ]:
x_set, y_set = test_x, test_y
x1, x2 =np.meshgrid(np.arange(start = x_set[:,0].min() - 1,stop = x_set[:,0].max() + 1, step = 0.01)
                    np.arange(start = x_set[:,0].min() - 1,stop = x_set[:,1].max() + 1, step = 0.01)
plt.contourf(x1, x2, classifer_LR.predict(np.array([x1.ravel(),x2.ravel()]).T).reshape(x1.shape),
            alpha =0.75, cmap= ListedColormap(('red','green')))
plt.xlim(x1.min(),x1.max())
plt.ylim(x2.min(),x2.max())
for i,j in enumerate(np.unique(y_set)):
                    plt.scatter(x_set[y_set == j,0], x_set[y_set == j,1],
                               c = ListedColormap(('red','green'))(i), label = j)
plt.title('Logistic Regression (Testing set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()